/* You can add global styles to this file, and also import other style files */

@import "bulma/css/bulma.css";

.titleCong{
    color:blue;
    text-align: center;
}

.correct {
    color : green;
}

.wrong{
    color:red;
}

.empty{
    color:grey;
}

.has-text-centered{
    font-weight: bold ;
}